# Visual Studio Files
.vs/
*.user
*.suo
*.sln.docstates
*.userprefs
*.dbmdl

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# Package Files
node_modules/
packages/

# Compressed Files
*.zip
*.rar
*.7z

# Other
_ReSharper.Caches/
*.log
*.tmp
