<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <machineKey validationKey="6833D726D07513C30D4215E93B140AD874A6A88E1B73CB739266E3A8242A687868E9580425712534579D6D34B361B1B851C77A567D2B6015B703C70A887E8E4A" decryptionKey="D8B84B1F17351A2E30749E51A1867160C895A548E08C8229" validation="HMACSHA256" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="4.0" enableViewStateMac="false" viewStateEncryptionMode="Never" enableEventValidation="false" maxPageStateFieldLength="4000" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.8" />
    <sessionState
        mode="InProc"
        timeout="30"
        cookieless="UseCookies"
        cookieName="PVFC_Session"
        sqlConnectionString=""
        allowCustomSqlDatabase="false" >
    </sessionState>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <connectionStrings>
    <!-- 
      IMPORTANT: Right now, this is set to use your live Somee.com Database.
      Replace "YOUR_COPIED_PASSWORD" with the actual password from your Somee dashboard before uploading. 
    -->
    <add name="PineValleyDB" connectionString="workstation id=PVFC_Data.mssql.somee.com;packet size=4096;user id=maven0321_SQLLogin_1;pwd=123456789;data source=PVFC_Data.mssql.somee.com;persist security info=False;initial catalog=PVFC_Data;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    
    <!-- (If you want to test on your local PC again, comment out the line above and uncomment the line below) -->
    <!-- <add name="PineValleyDB" connectionString="Data Source=localhost;Initial Catalog=PVFC;Integrated Security=True" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
</configuration>