<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <!-- 
         Note: Redundant settings (compilation, authentication, sessionState, connectionStrings) 
         are removed to avoid 'MachineToApplication' errors on Somee.com.
         They are inherited from the root Web.config.
    -->
    <pages>
      <namespaces>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
