<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" />
    </system.web>

    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

    <connectionStrings>
        <add name="PineValleyDB"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PVFC;Integrated Security=True;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
