<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- 
         Note: Most settings are inherited from the root Web.config to avoid 
         'MachineToApplication' errors on Somee.com when not running as a dedicated App.
    -->
    <pages controlRenderingCompatibilityVersion="4.0" enableViewStateMac="false" viewStateEncryptionMode="Never" enableEventValidation="false" maxPageStateFieldLength="4000" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
