<?xml version="1.0" encoding="utf-8"?>
<configuration>
 


  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" />

    <sessionState timeout="20" />
 
    <customErrors mode="Off" />
 
    <machineKey validationKey="6833D726D07513C30D4215E93B140AD874A6A88E1B73CB739266E3A8242A687868E9580425712534579D6D34B361B1B851C77A567D2B6015B703C70A887E8E4A" decryptionKey="D8B84B1F17351A2E30749E51A1867160C895A548E08C8229" validation="HMACSHA256" decryption="AES" />

    <pages controlRenderingCompatibilityVersion="4.0" enableViewStateMac="false" viewStateEncryptionMode="Never" enableEventValidation="false" maxPageStateFieldLength="4000" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>

</configuration>
