<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>
    <add name="QuizWizDB" 
         connectionString="workstation id=PVFC_Data.mssql.somee.com;packet size=4096;user id=maven0321_SQLLogin_1;pwd=123456789;data source=PVFC_Data.mssql.somee.com;persist security info=False;initial catalog=PVFC_Data;TrustServerCertificate=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="10240" />

    <sessionState timeout="20" />
 
    <customErrors mode="Off" />
 
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3FDE1A50D805B4B03EE7199999C70F3A2290B552F2E2307E36967B4A3469446D0898F" decryptionKey="D8B84B1F17351A2E30749E51A1867160C895A548E08C8229" validation="SHA1" decryption="AES" />

    <pages controlRenderingCompatibilityVersion="4.0" enableViewStateMac="false" viewStateEncryptionMode="Never" enableEventValidation="false" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>

</configuration>
